body {
  background-image: url("http://www.anband.spb.ru/images/000/DSC100079898.jpg");
  
}

#timer {
  color: rgb(255, 0, 51);
}
h2 {
  color: rgb(255, 0, 51);
  font-family: 'Acme', sans-serif;
}

.jumbotron{
  color: rgb(255, 255, 255);
  
  font-family: 'Acme', sans-serif;

}
.load-picture{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
#q4{
  width: 150%;
}