body {
background-image: url("../images/background.jpg");
}
  

#timer {
  color: rgb(255, 0, 51);
}
h2 {
  color: rgb(255, 0, 51);
  font-family: 'Acme', sans-serif;
}

.jumbotron{
  color: rgb(255, 255, 255);
  
  font-family: 'Acme', sans-serif;

}

